/* Color Palette
E14D2A
FD841F
3E6D9C
001253 */

*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

/* body{
    box-sizing: border-box;
} */
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.img-responsive{
    width: 100%;
}
.img-responsive1{
    width: 100%;
    height: 400px;
}
.img-responsive2{
    width: 100%;
    height: 135px;
}
.img-curve{
    border-radius: 15px;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-white{
    color: white;
}
.clearfix{
    clear: both;
    float: none;
}
a{
    color: #E14D2A;
    text-decoration: none;
}
a:hover{
    color: #FD841F;
}
.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    width: 10%;
    border-radius: 5px;
}
.primary-btn{
    background-color: #E14D2A;
    color: white;
    cursor: pointer;
}
.primary-btn:hover{
    background-color: #FD841F;
    color: white;
}
h2{
    color: #141414;
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
    margin-bottom: 5%;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}

/* ----------------CSS for Navbar Section---------------- */

.logo{
    width: 10%;
    float: left;
}
.menu{
    line-height: 100px;
}
.menu li{
    list-style-type: none;
    display: inline;
    padding: 1%;
    font-weight: bold;
}

/* ----------------CSS for Food Search Section---------------- */
.food-search{
    background-image: url(../images/background.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}
.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}
/* ----------------CSS for Categories Section---------------- */
.categories{
    padding: 3% 0;
}
.box-3{
    width: 30%;
    float: left;
    margin: 1.5%;
}
/* ----------------CSS for Food Menu Section---------------- */
.food-menu{
    background-color: #dec9c98a;
    padding: 4% 0;
}
.food-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}
.food-menu-img{
    width: 28%;
    float: left;
}
.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 2%;
}
.food-price{
    font-size: 1rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: gray;

}
/* ----------------CSS for Social Media Section---------------- */
.social li{
    text-decoration: none;
    list-style-type: none;
    display: inline;
    padding: 2%;
    font-size: 2rem;
}

.fa{
    color: #E14D2A;
    font-size: 2rem;
}
footer{
    margin: 1% 0;
    padding: 5px;
}
/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}
/* ----------------CSS for Mobile View---------------- */
@media only screen and (max-width:768px){
    .logo{
        width: 70%;
        float: none;
        margin: 1% auto;
    }
    .menu ul{
        text-align: center;
    }
    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }
    .btn{
        width: 90%;
        padding: 2%;
    }
    .food-search{
        padding: 10% 0;
    }
    .categories{
        padding: 10% 0;
    }
    h2{
        margin-bottom: 5% auto;
    }
    .box-3{
        width: 95%;
        margin: 2% auto;
    }
    .food-menu{
        padding: 10% 0;
    }
    .food-menu-box{
        width: 95%;
        padding: 5% 0;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
    
}